<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Artist</th>
      <th>Length</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% set_lists.each do |set_list| %>
      <tr>
        <td><%= set_list.name %></td>
        <td><%= set_list.description %></td>
        <td><%= set_list.artist.name %></td>
        <td>
          <%= duration_to_human(set_list.songs.map(&:duration).sum) %>
          <%= "(#{pluralize(set_list.songs.count, 'song')})" %>
        </td>
        <td><%= link_to 'Show', set_list %></td>
        <td><%= link_to 'Edit', edit_set_list_path(set_list) %></td>
        <td><%= link_to 'Destroy', set_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>